doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/sidebar.css')
    link(rel='stylesheet', href='/css/hub.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/js/board_slide.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/chat.js')

    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
    link(rel='stylesheet', href='/resources/demos/style.css')
    script
      $(function() {
      $( "#accordion" ).accordion();
      });

    title Hub - Winger
  body
    include sidebar.jade
    div.topbar

    div.leftbar
      div.userInfo
        img(src="/assets/Winger_Symbol.png").userIcon
        h2 awang1@andrew.cmu.edu

        div.accordionWrapper
          #accordion
            h3 Study Guide
            div
              p
                iframe(src='https://onedrive.live.com/embed?cid=436EEDB9A3D2925A&resid=436EEDB9A3D2925A%21118&authkey=AGxZDVtRFZh3Dug&em=2', width='400', height='288', frameborder='0', scrolling='no')
            h3 Homework
            div
              p
                iframe(src='https://onedrive.live.com/embed?cid=436EEDB9A3D2925A&resid=436EEDB9A3D2925A%21119&authkey=ADyBu2WeWg82pDg&em=2', width='400', height='288', frameborder='0', scrolling='no')
            h3 Physics Group Work
            div
              p
                iframe(src='https://onedrive.live.com/embed?cid=436EEDB9A3D2925A&resid=436EEDB9A3D2925A%21123&authkey=ACdw7O7J9gasJdY&em=2', width='400', height='288', frameborder='0', scrolling='no')
            h3 I hate this class
            div
              p
                iframe(src='https://onedrive.live.com/embed?cid=436EEDB9A3D2925A&resid=436EEDB9A3D2925A%21125&authkey=AETwNgyI-G5UR9s&em=2', width='400', height='288', frameborder='0', scrolling='no')  

    div.middlebar
      div.groups
        h2 Groups
        ul
          li
            a(href="#") Calculus AB
          li
            a(href="#") Physics 2
          li
            a(href="#") Chemistry
          li


    div.rightbar
      div.goals
        h2 Goals
        div.goalBox
          a(href="board") Problem 1 Board
        div.goalBox
          a(href="board") Problem 2 Board
        div.goalBox
          a(href="board") Problem 3 Board