doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/sidebar.css')
    link(rel='stylesheet', href='/css/hub.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/js/board_slide.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/chat.js')
    //- link(rel='stylesheet', href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css')
    //- script(src='//code.jquery.com/jquery-1.10.2.js')
    //- script(src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
    link(rel='stylesheet', href='/resources/demos/style.css')
    //- script
    //-   $(function() {
    //-   $( "#accordion" ).accordion();
    //-   });
    title Hub - Winger
  body
    include sidebar.jade
    div.topbar

    div.leftbar
      div.userInfo
        img(src="/assets/Winger_Symbol.png").userIcon
        h1 awang1@andrew.cmu.edu
      div.groups
        ul
          li Calculus AB
          li Physics 2
          li Chemistry
    div.middlebar
      div.goals
        h1
          Goals
        div.goalBox
          a(href="board") Problem 1 Board
        div.goalBox
          a(href="board") Problem 2 Board
        div.goalBox
          a(href="board") Problem 3 Board