doctype html
html(lang="en")
  head
    title Winger
    link(rel='stylesheet', href='/css/index.css')
  body
    div.verticalCenter
      div.homeContent
        img(src="/assets/Winger_Logo.png").logo

        h2 STUDY. COLLABORATE. SUCCEED.

        div.loginBlock
          a(href="/auth/windowslive").myButton Login with Microsoft ID
