body {
	background-color: #DDD;
	font-family: 'Helvetica Neue', 'Helvetica', 'Ariel', sans-serif;
}

.leftbar, .middlebar, .rightbar {
	display: inline-block;
	vertical-align: middle;

	border-radius: 10px;
	background-color: #FFF;
	padding: 2% 2%;
	margin: 1% 1%;

	box-shadow: 1px 1px 1px #888888;
}

.accordionWrapper {
	margin-left: auto;
	margin-right: auto;
}

.topbar {
	width: 100%;
	display: block;
	height: 100px;
	z-index: -100;

	background-color: #3b5998;
}

.userIcon {
	max-width: 128px;
}

.leftbar {
	width: 30%;
	padding-left: 2%;

	text-align: center;
}

.middlebar {
	width: 20%;
	padding-left: 60px;
}

.rightbar {
	width: 20%;
	padding-left: 60px;
}

.accordionWrapper {
	width: 80%;
	height: 550px;
}

li {
	list-style-type: none;
	display: block;
	float: left;

	margin-right: 20px;


}

ul {
		list-style-position: outside;
}

a:visited{
  color:blue;
}