.leftbar, .middlebar, .rightbar {
	display: inline-block;
	vertical-align: middle;
}

.topbar {
	width: 100%;
	display: block;
	height: 100px;
	z-index: -100;
}

.userIcon {
	max-width: 128px;
}

.leftbar {
	width: 35%;
	padding-left: 5%;
}

.middlebar {
	width: 30%;
}

.rightbar {
	width: 30%;
}

.accordionWrapper {
	width: 60%;
	height: 500px;
}