.arrow-right {
	width: 0; 
	height: 0;
	padding-right: 25px;  
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	
	border-left: 25px solid #A0A4A8;
}

.arrow-left {
	width: 0; 
	height: 0; 
	padding-left: 12px;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent; 

	border-right:25px solid #A0A4A8; 
}

.sidebar{
	z-index:900;
    position:fixed;
    height:100%;
    background-color: #22313F;
    width:400px;
    right:0px;
    margin-right: -400px;
}
.sidebar-button{
    position:fixed;
    width:50px;
    height:50px;
    right:0px;
    background-color: #22313F;
    top:400px;
}

span{
	color: #FFF;
}

#messages{
	color: #FFF;
}

span.name {
	font-weight: bold;
	color: #999;
}